.findus {
	padding-top: 2rem;
	padding-right: 9%;
	padding-left: 9%;
	background-color: white;
	height: fit-content;
	/* margin-top: -10px; */
	
}

.findus .heading {
	text-align: center;
    padding-bottom: 0rem;
    letter-spacing: 1.3px;
    display: flex;
    justify-content: center;
    color: #4B8C91;
    font-family: var(--font-poppins);
    font-size: 2rem;
    font-weight: 600;

}
  .display_toggle{
	display: none;
  }

.sub-heading {
	text-align: center;
	color: var(--light-color);
	font-size: 2.5rem;
	padding: .5rem 2rem;
	font-weight: 300;
	margin-bottom: 4rem;
	background: var(--black);
	display: inline-block;
}

.findus .box-container {
	display: flex;
	gap: 4rem;
	text-align: center;
}

.findus .box-container .box {
	width: 100%;
	background: var(--black);
	/* box-shadow: var(--box-shadow); */
	text-align: center;
	padding-bottom: 1%;
}

.findus .box-container .box #faq .question_item{
	cursor:pointer;

}

.findus .box-container .box #faq .question{
	border-bottom: 2px solid #000;
	cursor:pointer;
	font-size:1.2rem;
	margin-top: 20px;
	color: #000;

}

.findus .box-container .box #faq .answer{
	
	border-bottom: 2px solid #4B8C91;
	cursor:pointer;
	font-size:1.2rem;
    text-align: center;
	color: grey;
	color: #7f7f7f;

}

.findus .box-container .box a {
	text-decoration: none;
}



@media (max-width: 768px) {

	/*navbar media query*/
	.heading {
		text-align: center;
		font-size: 2.5rem;
		padding-bottom: 2rem;
	}

	.findus .box-container .box #faq .question{
		border-bottom: 2px solid #000;
		cursor:pointer;
		font-size: 1rem;
		margin-top: 20px;
	}
	
	.findus .box-container .box #faq .answer{

		border-bottom: 2px solid #4B8C91;
		cursor:pointer;
		font-size:1rem;
		color: grey;
		text-align: justify;
        text-align: center;

	}

	

	.findus .box-container {
		flex-wrap: wrap;
	}

	.findus .box-container .box {
		width: 100%;
	}
}